{% extends 'base.html' %}
{% block content %}
    <h1>Наші кімнати</h1>
    <div class="cards">
        {% for room in rooms %}
            <a class="room-a" href="{% url 'booking' %}?room_id={{ room.id }}&start_date={{ start_date }}&end_date={{ end_date }}">
                <div class="card">
                    <div class="book-card">
                        <img class="room-a" src="{{ room.photo.url }}" alt="room photo">
                    </div>
                    <div class="card-content">
                        <h3>Кімната №{{ room.number }} {{ room.category }}</h3>
                        <p>Місць: {{ room.capacity }}</p>
                        <p>Ціна: {{ room.price }} грн</p>
                        <p>Забронювати</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
