{% extends 'base.html' %}
{% block content %}
<div class="center">
    <h1 class="m">Реєстрація</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="txt_field">
            <label>Ім'я користувача</label>
            {{ form.username }}
        </div>
        <div class="txt_field">
            <label>Пароль</label>
            {{ form.password1 }}
        </div>
        <div class="txt_field">
            <label>Підтвердіть пароль</label>
            {{ form.password2 }}
        </div>
        <button class="button-s" type="submit">Зареєструватися</button>
    </form>
    <p class="m">Якщо у вас вже є акаунту, будь ласка, <a href="{% url 'login' %}">увійдіть</a></p>
</div>
{% endblock %}
