header {
  background-color: #b99885;
  padding: 20px 0;
}

body {
  background-color: #dad6c3;
  margin: 0;
}

.add-to-cart {
  background-color: #b85c1b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.add-to-cart:hover {
  background-color: #a0521b;
  color: black;
  transform: scale(1.1);
}

main {
  background-color: #becee0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
    color:rgb(142, 69, 146);
}

.book-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-card {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card-content{
  padding: 15px;
}

.room-a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 30px; 
  list-style: none;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.logo:hover {
  color: rgb(142, 69, 146);
}
