<div class="container"> 
    <nav class="navbar">
        <a class="logo" href="{% url 'main_page' %}">Booking</a>
        <ul class="nav-menu">
            <li>
                <a class="button-a" href="{% url 'main_page' %}">Пошук номера</a>
            </li>
            <li>
                <a class="button-a" href="{% url 'rooms' %}">Наші кімнати</a>
            </li>
            <li>
                <a class="button-a" href="{% url 'about' %}">Про нас</a>
            </li>
            {% if user.is_authenticated %}    
                <li>
                    <a class="button-a" href="{% url 'my_bookings' %}">Мої бронювання</a>
                </li>
                <li>
                    <a class="button-a" href="{% url 'logout' %}">Вийти</a>
                </li>
            {% else %}
                <li>
                    <a class="button-a" href="{% url 'login' %}">Увійти</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>